{% extends "base.html" %}
{% block content %}
  <h1 class="entry-title">Our Vehicles</h1>
    <section class="car-listings">
        {% if vehicles %}
            {% for vehicle in vehicles %}
                <div class="car-card" >
                    <a href="{% url 'vehicle_detail' vehicle.pk %}">
                        <div class="car-img">
                          <img
                            src="{{ vehicle.photo_link }}"
                            alt="{{ vehicle.year }} {{ vehicle.make }} {{ vehicle.model }}"
                            loading="lazy"
                          >
                        </div>
                        <div class="car-details">
                          <h2>{{ vehicle.year }} {{ vehicle.make }} {{ vehicle.model }}</h2>
                        </div>
                    </a>
                </div>
            {% endfor %}
        {% else %}
            <p>No vehicles available.</p>
        {% endif %}
    </section>
{% endblock %}
