{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Drive Booking System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="stylesheet" href="{% static 'banner.css' %}">
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <!-- Optionally add Bootstrap or other frameworks if using -->
</head>
<body>
    <header class="main-header">
        <div id="topbar" class="topclass">
          <div class="container">
                <div class="topbarmenu clearfix">
                  <div class="topbar_social">
                      <div class="col-left">
                          <a class="tel" href="tel:+61883662210">08 8366 2210</a>
                      </div>
                      <div class="col-right">
                          <a href="https://www.instagram.com/richmondsautomotivegroup" target="_blank" title="Instagram">
                              <i class="fa-brands fa-instagram"></i>
                          </a>
                          <a href="https://www.facebook.com/RichmondsAutomotiveGroup" target="_blank" title="Facebook">
                              <i class="fa-brands fa-square-facebook"></i>
                          </a>
                      </div>
              </div>
            </div>
          </div>
        </div>
        <div class="banner">
            <div>
                  <a href="/" class="site-logo">
                    <img src="{% static 'favicon.png' %}" alt="Richmonds Logo">
                  </a>
            </div>
            <div>
                  <h1 id="site-title">Test Drive Booking System</h1>
            </div>
        </div>
        <div class="navbar-container">
          <nav class="site-navbar">
            <ul>
              <li><a href="{% url 'vehicle_list' %}">HOME</a></li>
{#              <li><a href="{% url 'create_booking' %}">Book a Test Drive</a></li>#}
              <li><a href="https://richmonds.com.au/">RICHMONDS.COM.AU</a></li>

                {% if user.is_authenticated %}
                  <li><a href="{% url 'logout' %}" class="login">LOG OUT</a></li>
                {% else %}
                  <li><a href="{% url 'login' %}" class="login">LOG IN</a></li>
                {% endif %}


            </ul>
          </nav>
        </div>
    </header>

    <main class="container">
        {% block content %}
        <!-- Page-specific content will be injected here -->
        {% endblock %}
    </main>

    <footer>
        <hr>
        <p>&copy; 2025 Chris & Mayerli - This is a study project, for educational purposes only. Please do not share any personal information.</p>
    </footer>
</body>
</html>
